<div class="item active">
    <img src="images/firstpage.jpg" alt="First slide">
</div>
<div class="item">
    <img src="images/mainbg.jpg"  alt="Second slide">
</div>
<div class="item">
    <img src="images/thankpage.png" alt="Third slide">
</div>